* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: rgb(231, 226, 219);
}

.Nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.Nav__dropSelector {
  width: 250px;
}
.InfoBoxs__Content {
  display: flex;
  justify-content:center;
  margin-top: 20px;
}

.InfoBoxs__Card {
  margin-right: 20px;
}